body {
    background-image: url("./images/seamless-pattern.jpg");

    vertical-align: middle;
}

.header {
    position: relative;
    background: silver;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;


}

.h2 {
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
   
}

.h3 {
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.date-h3 {
    position: relative;
    text-align: center;
    text-decoration: underline;
}

.color-chart {
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    
}

.blue {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;

}

.yellow {
    background-color: #FFFF99;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;

}

.green {
    background-color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;

}

.footer {
    position: relative;
    background: silver;
    height: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border-radius: 10px;

}

.footer-h4 {
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.time-span {   
    color: black;
    height:100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;

}

#plannerContainer {
    background-color: silver;  
    margin-top: 0px;
    margin-bottom: 80px;
    border-radius: 15px;
    padding: 40px;

}

.dailyPlan {
    color: black;  
    font-size: 12pt;
    height:100%;
    width: 100%;
    border-radius: 15px;

}

.plannerRow {
    height: 75px;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 5;
    border-radius: 15px;
    

}

input {
    background: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;  

}

.save-button {
    color: black;
    background-color: silver;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;

}

.col-md-1, .col-md-2, .col-md-9 {
    padding: 0;
  }









